games.html
camera.html


#2D283E
#564F6F
#4C495D
#D1D7E0
#111111
#5F6366
#19181A



#2B2B2B
#423F3E

index.html
- change button into logos

event.html
- news
- events
- video

maps.html
- add floors
- when click information will go in the information tab

games.html
- make a simple games
- list of games

camera.html
- make a interactive camera for the users

report.html
- revised the design

contactUs.html
- proved emails, social media platforms, and administrator


