
/*FOR ALL THE HTML */


body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*HOME*/



.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    background-color: white;
}

.search-bar1 {
    max-width: 80%; 
    width: 50%;
    height: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-tab1 {
    text-align: center;
    padding: 20px;
}

#container-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 70%;
    padding: 20px;
    flex-wrap: wrap; 
}

.container {
    flex: 1;
    height: 100px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    border-radius: 42px;
    font-family: RobotoLightNew, Helvetica, Arial, sans-serif;
    margin: 10px;
    font-weight: 1000;
    font-size: 20px;
}
.container:hover {
    background-color: #f0f0f0;
}

/* KEYBOARD */

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.btn, .shift, .delete, .space{
    background-color: #423F3E;
    border: none;
    display: inline-block;
    padding: 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}

.btn:hover, .shift:hover, .delete:hover, .space:hover {
    background-color: #2b2b2b;
}

.delete,
.shift,
.space {
    font-size: 1rem;
    text-transform: capitalize;
}
.delete { width: 100px; }
.shift { width: 70px; }
.space { width: 350px; }

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.upper { 
    text-transform: uppercase; 
}


@media screen and (min-width: 1600px) and (max-width: 1920px) and (min-height: 900px) and (max-height: 1080px) {
    .search-bar1 {
        max-width: 60%; 
    }

    #container-wrapper {
        width: 80%; 
    }
}

/* HOMEPAGE */

.sectionTitle h1{
    width: 100%;
    background-color:#2B2B2B ;
    padding:  20px;
    margin: 0;
    flex:1;
    text-indent: 5%;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: RobotoLightNew, Helvetica, Arial, sans-serif;
}


header {
    position: relative;
    
}

.lintech-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.lintech-logo img {
    width: 60px; 
    height: auto;
    margin-right: 20px;
    margin-top: 5px;
}


.sidebar {
    width: 5.5%; 
    background-color: #423F3E;
    position:fixed;
    margin: 0;
    left:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}




.tab-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: white;
    text-decoration: none;
}

.fa-solid:hover {
    color: #2b2b2b;
}




.tab-logo span {
    font-size: 13px; 
    color: white;
    padding: 25px;
}


.content {
    margin-left: 10%; 
    padding: 0;
}


.scrolling-box {
    max-width: 1250px;
    width: 100%; 
    height: auto; 
    border: 10px solid #2b2b2b;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: darkgrey;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 1000px;
    height:500px;
  }

.swiper-slide img {
    width: 100%;
    height: 100%;
}







/* MAP */

.search-bar {
    width: 150px; 
    height: auto;
    padding: 10px 20px;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

#search-button{
    background-color: #423F3E;
}

.building-buttons {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.building-button {
    width: 150px;
    height: auto;
    padding: 10px 20px; 
    margin: 20px 0; 
    text-align: center;
    background: white;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background-color: #423F3E;
}

.building-button:hover {
    background-color:#2b2b2b;
    color: white;
}

.building-button.active {
    background-color: #101111c5;
    color: white;
}

#no-building-message {
    display: block;
    color: #888;
    font-size: 18px;
    text-align: center;
}

.building-border {
    max-width: 1250px;
    width: 100%; 
    height: auto; 
    border: 10px solid #2b2b2b;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: darkgrey;
    position: relative;
}

.schedule-container {
    width: 200px;
    height: 450px;
    position: absolute;
    top:50px;
    right:40px;
    border: 1px solid black;
    background-color: #504f4f;
    border-radius: 20px;
}

.schedule-placeholder {
    font-size: 18px;
    color: #888;
    text-align: center;
}

.blueprints {
    overflow: hidden;
}

.blueprints,
.blueprints * {
    box-sizing: border-box;
}

.blueprints {
    position: absolute;
    width: 700px;
    height: 450px;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: #504f4f;
    border-radius: 24px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.floors-print {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
}

.floors-print img {
    width: 100%; 
    height: auto; 
    display: block; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}



/*CAMERA*/

.camera-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video{
    margin: 10px 0px;
}

#snap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 65px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

#snap:hover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.camera-snapshot{
    background-color: rgb(255, 255, 255, .021);
    height: 200px;
    margin: auto;
    width: 95%;
    display: flex;
    overflow-x: scroll;
    padding: 3px 1.5px;
}

.camera-snapshot::-webkit-scrollbar{
    height: 5px;
}

.camera-snapshot::-webkit-scrollbar-track{
    background: #f1f1f1;
    background: transparent;
}

.camera-snapshot::-webkit-scrollbar-thumb{
    background: rgb(187, 187, 187);
    border-radius: 50px;
}


/*GAMES*/



/* REPORT & CONTACTS*/

.contact-tab{
    max-width: 1290px;
    width: 100%; 
    height: 500px; 
    background-color: darkgrey;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#report-form{
    width: 1100px; 
    height: auto; 
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #2b2b2b;
    color:black;
}

#otherReportType {
    width: 1100px;
}

.label1 {
    padding: 20px;
    color: white;
}

#initialButtons, #feedbackForm, #confirmationMessage {
    width: 1190px; 
    height: auto; 
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

  #feedbackForm{
    display: none;
    width: 1140px;
    height: auto;
    border: 1px solid black;
  }

  .wow {
    display:block;
    margin-bottom: 10px;
    color: white;
  }
  #confirmationMessage {
    display: none;
    color: #37474F;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: black;
  }
  

  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    color:white;
    background-color: #423F3E;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    color: white;
    background-color: #2b2b2b;
  }

  .success {
    color: #2ecc71;
  }




@media screen and (max-width: 600px) {
    .content {
        margin-left: 5%;
    }

    .scrolling-box {
        width: 100%;
    }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .content {
        margin-left: 8%;
    }

    .scrolling-box {
        width: 80%;
    }

}


/*CONTACT*/

.c-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }

  .box {
    width: 300px;
    height:20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: #2b2b2b;
    color:white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

